:root {
    --color-background-page: #1a1b26;
    --color-background-header: #16161e;
    --color-text-header: #c0caf5;
    --color-text: #a9b1d6;
    --color-text-inverted: #3e3f5c;
    --color-accent: #9ece6a;
    --color-grid: #a9b1d6;
    --color-grid-accent: #292e42;
    --color-accent-alt: #7aa2f7;
    --color-link: var(--color-accent-alt);
    --color-link-hover: #bb9af7;

    /*Fonts*/
    --font-body: "Lora", serif;
    --font-display: 'Playfair Display', serif;
    --font-size-base: 1rem;
    --font-size-lg: 1.5rem;
    --font-size-xl: 2.5rem;

    /* Spacing */
    --spacing-xs: 0.25rem;
    --spacing-sm: 0.5rem;
    --spacing-md: 1rem;
    --spacing-lg: 1.5rem;
    --spacing-xl: 2rem;
    --spacing-xxl: 3rem;
    --border-radius-sm: 4px;
    --border-radius-md: 8px;
    --border-radius-lg: 12px;
}

/* Light mode */
body.light-mode {
    --color-background-page: #f5f7fa;
    --color-background-header: #ffffff;
    --color-text: #2c3e50;
    --color-text-header: #1a202c;
    --color-accent: #2c5282;
    --color-grid: #ffffff;
    --color-grid-accent: #f0fdfa;
    --color-accent-alt: #3182ce;
    --color-link: var(--color-accent-alt);
    --color-link-hover: #38b2ac;
}